* {
    margin: 0;
}

.splach_img {
    width: 100%
}


.txt_top {
    max-width: 800px;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 4vw;

    padding-left: 4vw;
    padding-right: 4vw;

}

#middel_content {
    background-color: #80B7B5;
    padding: 4vw;
}

#middel_content .collums {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 25px;

    justify-content: center;
    margin: auto;
    max-width: 1100px
}



#middel_content .col {
    margin: 0 auto;
    padding: 1vw;
    max-width: 500px;
    background-color: #D5E8E7;
}

#middel_content .col h2 {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;

}

#middel_content .col p {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;

}


h1,
h2 {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

p {
    line-height: 22px
}



/************** ARROW **************/
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;

    width: 0;
    height: 0;
    border-style: solid;
}

#arrow_left {
    border: solid white;
    border-width: 0 5px 5px 0;
    /*display: inline-block;*/
    padding: 20px;

    margin-left: 30px;

    transform: rotate(135deg);
}

#arrow_right {
    border: solid white;
    border-width: 0 5px 5px 0;
    /*display: inline-block;*/
    padding: 20px;

    transform: rotate(-45deg);
    right: 0;
    margin-right: 30px;
}

/************** ARROW SLUT **************/

/************** SLIDER **************/
#slider,
.wrap,
.slide-content {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    width: 70vw;

    height: 70vh;
    /*    background-color: #80B7B5;*/
    overflow-x: hidden;
    overflow-y: hidden;


}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    padding-bottom: 45px;

}



.wrap {
    position: relative;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.slide1 {
    background-image: url(imgs/21_5/18092018-FLE_8336.jpg);

}

.slide2 {
    background-image: url(imgs/21_5/_GR21359.jpg);

}

.slide3 {
    background-image: url(imgs/21_5/_GS00370.jpg);
}




/************** SLIDER SLUT **************/

#salg {
    margin: 4vw;
}

#salg .top {
    display: flex;
    justify-content: center;
}


@media screen and (max-width:600px) {


    #slider,
    .wrap,
    .slide-content {
        width: 90vw;
    }

}
