/************************************ Generalle ************************************/
* {
    margin: 0;

}

/************************************ Generalle SLUT ************************************/

/************************************ SKIRFT ************************************/

h1 {}

h2 {}

h3 {}

/************************************ SKIRFT SLUT ************************************/

/************************************ NAV ************************************/

nav {}

/************************************ NAV SLUT ************************************/

main h1 {
    z-index: 2;
    font-size: 7vw;
    position: absolute;
    top: 20%;
    left: 6%;
    color: white;
    text-shadow: 2px 2px 5px rgba(2, 2, 2, 0.54);
}



.splash_img img {

    width: 100%;
}


.group {
    padding: 3vw;
    background: #80B7B5;
    /*    width: 100vw*/
}


.group .header,
.col .wp-block-group__inner-container {
    display: flex;
    flex-wrap: wrap;

    color: white;


}

.group .header,
.col .wp-block-group__inner-container p {}

.header .wp-block-group__inner-container {
    margin: auto;

}

.header .wp-block-group__inner-container h2 {
    font-size: 3rem;
    color: white;
}

.header .wp-block-group__inner-container h3 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: white;
}

.header,
.col .wp-block-group__inner-container p {
    color: white;
}





.group .col p {
    line-height: 22px
}

.group .col_1,
.col_2 {
    width: 40vw;
    padding: 5vw;

    flex-grow: 1;
    flex-basis: 300px;
}





.img_banner img {
    width: 100%
}

.txt_col {
    padding: 2vw;
}

.txt_col .h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;

}

.txt_col .buttons .wp-block-group__inner-container {
    display: flex;
    justify-content: space-around;

    font-size: 1.2rem;
    padding: 3vw;
}


@media screen and (max-width:600px) {

    .txt_col .buttons .wp-block-group__inner-container {


        font-size: 1rem;
        padding: 3vw;
    }
