* {
    margin: 0;

}


main h1 {
    display: none;
}

h2 {
    font-size: 2rem;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.top_img img {
    width: 100%
}

.top_content {
    max-width: 800px;
    margin: auto;
    padding: 4vw;
}

#value {

    background-color: #D5E8E7;
    padding: 4vw;
}

p {
    line-height: 23px;
    font-size: 1.1rem;
}

#value li {
    list-style-type: circle;

}

.value_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2vw;


}

#value .col {
    width: 450px;
    margin: 2vw;
}

#value .col_1 {
    background-color: #80B7B5;
    width: 375px;
    padding: 3vw;
    line-height: 22px;
    font-size: 1.1rem;
}

#value .value_content_2 {
    margin: auto;
    max-width: 800px;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

#value .value_content_2 h3 {
    font-size: 1.5rem;
    margin-top: 1vw;
    margin-bottom: 1vw;
}


#history {
    margin: 5vw;
}

#history .top {

    margin: auto;
    max-width: 800px;
}



#koncept .text_content {
    margin: 5vw;
}

#koncept .splash img {
    width: 100%
}

#koncept .center {
    margin: auto;
    max-width: 800px;
}


#economy {
    background-color: #D5E8E7;
    padding: 5vw;
}

#economy .top {
    margin: auto;
    max-width: 800px;
}
