* {
    margin: 0;
}


main h1 {
    display: none;
}



.splash_img img {
    width: 100%;
}


#foreninger .top {
    max-width: 800px;
    margin: auto;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

#salg {
    padding-bottom: 4vw;
    background-color: #D5E8E7;
}

#salg .top {
    max-width: 800px;
    margin: auto;
    padding-top: 4vw;
    padding-bottom: 2vw;
}

/************** ARROW **************/
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;

    width: 0;
    height: 0;
    border-style: solid;
}

#arrow_left {
    border: solid rgba(18, 18, 18, 0.75);
    border-width: 0 5px 5px 0;
    /*display: inline-block;*/
    padding: 20px;

    margin-left: 30px;

    transform: rotate(135deg);
}

#arrow_right {
    border: solid rgba(18, 18, 18, 0.75);
    border-width: 0 5px 5px 0;
    /*display: inline-block;*/
    padding: 20px;

    transform: rotate(-45deg);
    right: 0;
    margin-right: 30px;
}

/************** ARROW SLUT **************/

/************** SLIDER **************/
#slider,
.wrap,
.slide-content {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    width: 70vw;

    height: 70vh;
    background-color: #80B7B5;
    overflow-x: hidden;
    overflow-y: hidden;


}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;

    padding-bottom: 45px;

}

.slide-content h2 {
    font-size: 3.5rem;
    color: #fff;
    margin: 0.5rem;
    letter-spacing: 0.2rem;

}

.wrap {
    position: relative;


}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.slide1 {}

.slide2 {}

.slide3 {
    background-image: url()
}



/************** SLIDER SLUT **************/


#gensalg {
    /*    overflow-x: hidden;*/
}

#gensalg .collums {
    display: flex;

}

#gensalg .col_1 {
    width: 200%;

}


#gensalg .col_1 img {
    width: 100%;
}

#gensalg .col_2 {
    margin: 5vw;

    max-width: 100%,
}



#stiftede .top {
    max-width: 800px;
    margin: auto;
    padding: 4vw;
}



#proces {
    padding: 5vw;
    background-color: #D5E8E7;
}

#proces .top {
    display: flex;
    justify-content: center;

}

#proces .collums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#proces .col {
    width: 400px;
    padding: 3vw;
}


@media screen and (max-width:600px) {


    #gensalg {}

    #gensalg .collums {
        display: flex;
        flex-direction: column;

    }

    #gensalg .col_1 {
        width: 100%;

    }



}
