* {
    margin: 0;

}

p {
    line-height: 22px
}


header {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vw;
    background-color: rgba(0, 0, 0, 0.63);
    font-family: 'Barlow', sans-serif;
    position: fixed;
    width: 100%;
    top: 0px;


    padding-top: 1vw;
    padding-bottom: 1vw;

}

a {
    text-decoration: none;
}

.nav_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 5vw;
    margin-right: 16vw;


}

.nav_links {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav_links li {
    list-style: none;
    margin-right: 15px;
}


.nav_links a {
    text-decoration: none;
    color: #ffffff;

    letter-spacing: 3px;

    font-size: 1rem;
    font-family: 'Barlow', sans-serif;

}

.nav_links a:hover {
    color: #80B7B5;
}

nav .log_ind {
    display: flex;
    align-items: center;
    padding-left: 1.5vw;
    border-left: solid 1px white;
}

nav .log_ind img {
    width: 2vw;
}

nav .log_ind a:hover {
    color: #D5BFAA;
}

.lokal_nav {
    text-decoration: none;
    display: flex;
    justify-content: center;

}

.lokal_nav a {
    color: black;
    margin: 1vw;
    padding: 1vw;
    font-size: 1.1rem;

}

.lokal_nav a:hover {
    color: #80B7B5;
    border-bottom: solid 1px black;
}



/*.burger {
    display: none;
}*/

.burger div {
    display: none;
}



.hide {
    visibility: hidden;
}

.color {
    background-color: #f0f0f0;
}

.color_1 {
    background-color: #f0f0f0;
}


.hide {
    display: none;
}

footer {
    background-color: #80B7B5;
    height: 20vw;
    width: 100%;
    align-items: center;
    justify-content: center;

}

footer img {
    width: 15vw;
    padding: 2vw;
}

footer .collum {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;




}

footer .col {
    width: 300px;

}

footer li a {
    text-decoration: none;
}

footer .footer_links a {
    color: black;
}

.lokal_nav {
    text-decoration: none;
    display: flex;
    justify-content: center;

}

.lokal_nav a {
    color: black;
    margin: 1vw;
    padding: 1vw;
    font-size: 1.1rem;

}

.lokal_nav a:hover {
    color: #80B7B5;
    border-bottom: solid 1px black;
}


.button {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-bottom: 3vw;
    margin-top: 3vw;


}

.button p {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    margin: auto;
}

.button img {
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.button img:hover {

    transform: scale(1.05);
    transition: transform 0.2s ease-in;
}


@media screen and (max-width:600px) {

    .burger div {
        display: block;

        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px;
    }

    .nav_links {
        display: none;
    }

    .nav_links {
        position: absolute;
        width: 50%;
        height: 92vw;
        top: 12.7vw;
        background-color: rgba(0, 0, 0, 0.63);
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        align-items: center;
        transform: translatex(100%);
        left: 0px;
        transition: transform 0.5s ease-in-out;

    }

    .logo img {
        width: 10vw
    }

    nav .log_ind {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0vw;
        border-left: none;
        border-top: solid 1px white;
        width: 40vw;
    }

    nav .log_ind img {
        width: 7vw;
    }

    nav .log_ind li {
        padding: 5vw;
    }





    .show {
        transform: translatex(70%);
        transition: transform 0.5s ease-in-out;
    }
